---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Binance Yield',
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69869f959f2c494e4434ec76&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Pancake',
        href: 'https://pancakeswap.finance/liquidity/pools?chain=bsc&network=56&network=1&network=8453&network=204&network=324&network=59144&network=42161&network=143&network=8000001001',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Lista.fi',
        href: 'https://lista.org/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Lagoon',
        href: 'https://app.lagoon.finance/vault/143/0x0da39b740834090c146dc48357f6a435a1bb33b3?return=%2F&from=vaults',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'DeTrade',
        href: 'https://app.detrade.fund/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Yields',
        href: '/bitcoin/btc.2',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Binance Yield
      </Fragment>
   <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Methods to Earn: </span> Yield can be earned through native staking
        </span
       
      >
</Fragment>

    <Fragment slot="subtitle">
   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "12M",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(34, 171, 148, 1)",
  "plotLineColorFalling": "rgba(242, 54, 69, 1)",
  "gridLineColor": "rgba(255, 255, 255, 0)",
  "scaleFontColor": "#DBDBDB",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(74, 74, 74, 0.25)",
  "tabs": [
    {
      "title": "BNB Chain",
      "symbols": [
        {
          "s": "CRYPTOCAP:BNB",
          "d": "",
          "logoid": "crypto/XTVCBNB",
          "currency-logoid": "country/US"
        }
      ],
      "originalTitle": "Forex"
    }
  ],
  "support_host": "https://www.tradingview.com",
  "backgroundColor": "#040422",
  "width": "100%",
  "height": "500",
  "showSymbolLogo": true,
  "showChart": true
}
  </script>
</div>
<!-- TradingView Widget END -->

 
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key Aspects of Binance Yield:"
    subtitle="Binance Yield refers to the interest or rewards earned by depositing, staking, or locking cryptocurrency assets through various Binance Earn products, such as Simple Earn, DeFi Staking, and Dual Investment. It allows users to generate passive income on idle assets with APYs ranging from1% to over 20% for certain products."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "d411df23-8647-4330-83fb-06b07bf8c114"
  });
</script>
  
</Layout>
