---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Monad Yield',
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69869f959f2c494e4434ec76&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'ShMonad',
        href: 'https://shmonad.xyz/',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Capital',
        href: 'https://yield.accountable.capital/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Lagoon',
        href: 'https://app.lagoon.finance/vault/143/0x0da39b740834090c146dc48357f6a435a1bb33b3?return=%2F&from=vaults',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'DeTrade',
        href: 'https://app.detrade.fund/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Yields',
        href: '/bitcoin/btc.2',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Monad Yield
      </Fragment>
   <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Methods to Earn: </span> Yield can be earned through native staking
        </span
       
      >
</Fragment>

    <Fragment slot="subtitle">
   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"></span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "12M",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
  "plotLineColorFalling": "rgba(41, 98, 255, 1)",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "scaleFontColor": "#DBDBDB",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "tabs": [
    {
      "title": "Monad Yield",
      "symbols": [
        {
          "s": "COINBASE:MONUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCMONAD",
          "currency-logoid": "country/US"
        }
      ],
      "originalTitle": "Indices"
    }
  ],
  "support_host": "https://www.tradingview.com",
  "backgroundColor": "#0f0f0f",
  "width": "100%",
  "height": "130",
  "showSymbolLogo": true,
  "showChart": false
}
  </script>
</div>
<!-- TradingView Widget END -->

<creattie-embed
 src="https://ik.imagekit.io/creattie/main/saved_colors/144498/f8PVqQ5YlhHeQCkR.json"
 delay="1"
 speed="90"
 frame_rate="24"
 trigger="loop"
 style="width:100%;background-color: #040422">
</creattie-embed>
<script src="https://creattie.com/js/embed.js?id=3efa1fcb5d85991e845a" defer></script>
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key Aspects of Monad Yield:"
    subtitle="Monad yield refers to the returns earned from staking or participating in the ecosystem of Monad, a high-performance, parallelized Ethereum-compatible (EVM) Layer-1 blockchain. As of late 2025, staking rewards for the MON token are approximately 16% APR, with, for example, 30 AWC tokens provided monthly per 1,000 MON staked."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "d411df23-8647-4330-83fb-06b07bf8c114"
  });
</script>
  
</Layout>
