---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Ethereum Yield',
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69869f959f2c494e4434ec76&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Ultra',
        href: 'https://ultrayield.app/vaults',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Hermetica',
        href: 'https://app.hermetica.fi/portfolio',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Velar',
        href: 'https://velar.com/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Asigna',
        href: 'https://www.asigna.io/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Staking',
        href: '/bitcoin/btc.2',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Solana Yield
      </Fragment>
   <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Note: </span>Solana (SOL) offers staking yields typically ranging from 5% to 8% APY.  
        </span
       
      >
</Fragment>

    <Fragment slot="subtitle">
   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="white-text"></span></a><span class="trademark"></span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "1D",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
  "plotLineColorFalling": "rgba(41, 98, 255, 1)",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "scaleFontColor": "#DBDBDB",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "tabs": [
    {
      "title": "Solana Yield",
      "symbols": [
        {
          "s": "COINBASE:SOLUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCSOL",
          "currency-logoid": "country/US"
        }
      ],
      "originalTitle": "Indices"
    }
  ],
  "support_host": "https://www.tradingview.com",
  "backgroundColor": "#0f0f0f",
  "width": "100%",
  "height": "130",
  "showSymbolLogo": true,
  "showChart": false
}
  </script>
</div>
<!-- TradingView Widget END -->

 <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/gfpplxaf.json"
    trigger="hover"
    stroke="light"
    colors="primary:#ffffff,secondary:#6c16c7,tertiary:#9cc2f4,quaternary:#ffffff,quinary:#3080e8"
    style="width:100%;height:500px">
</lord-icon>
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key Solana Yield Options"
    subtitle="Native Staking: Delegates SOL directly to a validator, usually through a wallet like Phantom or Ledger, maintaining full custody of keys."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "d411df23-8647-4330-83fb-06b07bf8c114"
  });
</script>
  
</Layout>
