---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/a33509ec-16ea-48d9-806a-f87cdae7fc2d/oAU6C2CrTD.lottie" speed="0.5" style="width: 80px; height: 80px" mode="forward" loop autoplay></dotlottie-wc>
</span>
